# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.DS_Store
MCQ/SciQ_dataset/
*.ipynb_checkpoints

2018-04-02-US-tuition/US_state_regions.csv
2018-04-02-US-tuition/us_states_GDP_PerCap.csv

2019_05_21-plastic/API_NY.GDP.PCAP.KD.ZG_DS2_en_csv_v2_10576663
emperors.csv

2021-03-23-UNvotes/issues.csv
2021-03-23-UNvotes/roll_calls.csv
2021-03-23-UNvotes/unvotes.csv

2021-04-06-deforestation/forest.csv
2021-04-06-deforestation/forest_area.csv
2021-04-06-deforestation/brazil_loss.csv
2021-04-06-deforestation/soybean_use.csv
2021-04-06-deforestation/vegetable_oil.csv
animal_rescues.csv

2021-06-29-animal_rescues/animal_rescues.csv
2021-03-02-youtube/youtube.csv
2021-04-20-netflix/netflix_titles.csv
2021-07-20-droughts/drought.csv
